project_id         = "your-gcp-project-id"
region             = "asia-south1"
cluster_location   = "asia-south1"
cluster_name       = "weconnect-gke"
network_name       = "weconnect-vpc"
subnet_name        = "weconnect-subnet"
subnet_cidr        = "10.10.0.0/20"
pods_cidr_name     = "weconnect-pods"
pods_cidr          = "10.20.0.0/16"
services_cidr_name = "weconnect-services"
services_cidr      = "10.30.0.0/20"
node_pool_name     = "weconnect-node-pool"
machine_type       = "e2-medium"
disk_size_gb       = 50
min_node_count     = 1
max_node_count     = 3
initial_node_count = 1
release_channel    = "REGULAR"
